.app-wrap {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.app-header {
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	flex-shrink: 0;
	color: $primary-color-text;
	background-color: $primary-color;
	border-bottom: 2px solid #fff59d;

	a {
		font-size: 11px;
		color: $primary-color-text;
	}

	.button {
		background: rgba(0,0,0,0.1);
		padding: 10px 15px;
		border-radius: 4px;
	}
}

.sidebar {
	display: none;
	width: 300px;
	flex-shrink: 0;
  	background-color: $primary-color;
	a.active {
		color: #fff;
		background-color: rgba(0,0,0,0.2);
	}

	h1 {
		margin: 0;
		text-align: center;
		padding: 20px;
		color: #fff;
		border-bottom: 2px solid #fff59d;
	}
	a {
		display: flex;
		padding: 20px;
		font-size: 18px;
		color: rgba(0,0,0,0.5);
		&:hover {
			background-color: rgba(0,0,0,0.1);
		}
		i {
			color: #fff;
			text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
			display: inline-block;
			margin-right: 10px;
		}
	}
}

.content {
	flex-grow: 1;
	padding: 16px;
	line-height: 1.8;
	overflow-y: scroll;
}

.app-footer {
	display: flex;
	height: 80px;
	flex-shrink: 0;
	border-top: 1px solid #e6e6e6;
	background-color: $primary-color;

	a {
		padding: 15px;
		text-align: center;
		color: rgba(0,0,0,0.5);
		border-left: 2px solid rgba(0,0,0,0.1);
		flex-grow: 1;
		&:first-child {
			border-left: 0;
		}

		&:hover {
			border-bottom: 4px solid $accent-color;
		}
		
		i {
			display: block;
			font-size: 25px;
			color: white;
			text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
			padding-bottom: 10px;
		}		
	}

	a.active {
		border-bottom: 4px solid $accent-color;
	}
}

@media (min-width: 800px) {
  .app-wrap {
    flex-direction: row;
  }
  .app-header , .app-footer {
    display: none;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}